In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('gradd.csv')

In [3]:
df.head()

     x    y
0  204  100
1  390  198
2  399  197
3  440  220
4  455  225

In [4]:
df.describe()

                 x           y
count    12.000000   12.000000
mean    686.916667  344.166667
std     330.046129  165.784544
min     204.000000  100.000000
25%     429.750000  214.500000
50%     611.000000  310.000000
75%    1002.500000  502.500000
max    1201.000000  600.000000

In [5]:
df.shape

(12, 2)

In [6]:
x= df.iloc[:, :-1]
y= df.iloc[:, 1]

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [8]:
from sklearn.linear_model import LinearRegression  
regressor= LinearRegression()  
regressor.fit(x_train, y_train)

LinearRegression()

In [9]:
y_pred= regressor.predict(x_test)

In [10]:
print('Train Score: ', regressor.score(x_train, y_train))  
print('Test Score: ', regressor.score(x_test, y_test))

Train Score:  0.9993749553124451
Test Score:  0.9943276085992004

In [ ]:
plt.plot(x_test, y_test, color='#00ff00', label='Linear Regression')

plt.xlabel('x')
plt.ylabel('y')
plt.show()